<div class="argument new controller container">
  <div class="errors">
    <% if @created_arg and @created_arg.errors.any? %>
      <ul>
      <% @created_arg.errors.full_messages.each do |e| %>
          <li><%= e %></li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <% if @pro %>
    <h2>New argument for <%= @debate.title %></h2>
  <% else %>
    <h2>New argument against <%= @debate.title %></h2>
  <% end %>

  <% if @ref_argument_id and @ref_type %>
    <h4><%= @ref_type %> to <%= link_to @ref_argument.title,
      argument_path(@ref_argument) %></h4>
  <% end %>

  <%= form_for @new_arg do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description%>
    <%= f.text_area :description %>

    <%= f.label :links %><p>*Separate by new line</p>
    <%= f.text_area :links %>

    <!-- change creator id when users created -->
    <%= hidden_field :argument, :creator_id, value: 1 %>
    <%= hidden_field :argument, :debate_id, value: @debate_id %>
    <%= hidden_field :argument, :proponent, value: @pro %>
    <%= hidden_field :ref, :type, value: @ref_type %>
    <%= hidden_field :ref, :id, value: @ref_argument_id %>

    <%= f.submit %>
  <% end %>

</div>
