<div class="container controller argument show">
<% proponent = @arg.proponent ? "For" : "Against" %>

  <h1 class="<%=proponent%>-title"><%= proponent %> 
  <%= link_to Debate.find(@arg.debate_id).title, debate_path(@arg.debate_id)%>:</h1>

<div class="main-chunk">

  <h2><%= @arg.title %></h2>
  <div class="like-buttons">
    <%= image_tag( "icons/up.svg", size: "30x30", class: "thumb-up" ) %>
    <%= image_tag( "icons/down.svg", size: "30x30", class: "thumb-down" ) %>
  </div>


  <div class="subtitle">
    <!--
  <p class="creator"><%= link_to User.find(@arg.creator_id).first_name, user_path(@arg.creator_id) %></p>
    -->
  <p class="date"><%= @arg.created_at.strftime( "%m.%d.%Y" ) %>
  </div>

  <pre><%= @arg.description %></pre>
  <% if @sources.count > 0 %>
    <h4>References:</h4>
    <ul>
      <% @sources.each do |s| %>
        <!-- to make link work -->
        <% if s.url[0..3] != "http" %>
          <% url = "https://#{s.url}" %>
        <% else url = s.url %>
        <% end %>

        <li><a href="<%= url %>" target="_blank"><%= s.url %></a></li>
      <% end %>
    </ul>
  <% end %>
</div>

  <%= render partial: "counter_supporter_grid", locals: {type: "supporting", 
                                                         arguments: @supporter_arguments} %>
  <%= render partial: "counter_supporter_grid", locals: {type: "counter", 
                                                         arguments: @counter_arguments} %>
</div>
