<!-- to be displayed in modal popup after ajax call -->
<div class="container main-content side-arguments">
  <span style="display:none" id="type"><%= @type %></span>
  <% if @side_arguments and @side_arguments.count > 0 %>
    <% side = @type == "supporting" ? "pro" : "con" %>
    <% @side_arguments.each_with_index do |a,i| %>
      <div class="argument" id="<%= @type %>-arg<%= a.id %>">
        <div class="title row">
          <h5><%= i+1 %>. <%= link_to a.title, "##{ side }-arg#{ a.id }" %></h5>
        </div>
        <div class="row">
          <p class="description"><%= a.description%></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>None yet.</p>
  <% end %>

  <% if user_signed_in? %>
    <a class="new-arg btn" 
      <%= "arg_id=\"#{@arg.id}\" type=\"#{@type}\" debate_id=\"#{@arg.debate_id}\"" %>>
      New <%= @type %> argument</a>

    <div class="new-arg-form form">
        <%= form_tag(arguments_path, method: "post") do %>
          <%= text_field_tag 'argument[title]', nil, placeholder: "Title" %>

          <%= text_area_tag 'argument[description]', nil, placeholder: "Description" %>

          <%= text_area_tag 'argument[links]', nil, placeholder: "Sources (separate by new line)" %>

          <!-- change creator id when users created -->
          <%= hidden_field :argument, :creator_id, value: current_user.id %>
          <%= hidden_field :argument, :debate_id, value: @arg.debate_id %>
          <%= hidden_field :argument, :proponent, value: @pro %>
          <%= hidden_field :ref, :type, value: @type %>
          <%= hidden_field :ref, :id, value: @arg.id %>

          <%= submit_tag "Create", class:"submit" %>
      <% end %>
    </div>
  <% end %>

</div>
