<div class="container <%=type%>-arg ">
<% word = type == "pro" ? "for" : "against" %>

<div class="<%=type%> list">
  <%= link_to "Create new argument #{word}", new_argument_path(debate_id: @debate, side: "#{type}") %>
  <% if arguments %>
    <% arguments.each do |a| %>
      <div class="argument" id="<%= type %>-arg<%= a.id %>">
        <div class="title row">
          <h5><%= a.order %>. <%= a.title %></h5>
        </div>
        <div class="row">
          <% if user_signed_in? %>
            <!-- If argument is favorited already, then clicked -->
            <p class="star unclicked" user_id="<%= current_user.id %>" 
               arg_id="<%= a.id %>">&#9734</p>
            <!--
            <p class="star clicked" user_id="<%= current_user.id %>" 
               arg_id="<%= a.id %>">&#9733</p>
            -->
          <% end %>

          <p class="description"><%= a.description%></p>
          <div class="buttons">
            <a class="btn other_args" arg_type="supporting" arg_id="<%= a.id %>">Supporters</a>
            <a class="btn other_args" arg_type="counter" arg_id="<%= a.id %>">Counters</a>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

</div>
