<div class="controller container user show">
  <div class="title">
    <h1 class="inline"><%= @user.first_name %></h1>
    <a href="<%= edit_user_registration_path %>" class="btn inline"><p>&#x2699;</p></a>
  </div>

  <div class="arguments">
  <% if @arguments.count > 0 %>
    <h3>Your Arguments</h3>
    <ul>
    <% @arguments.each do |a| %>
      <li><p class="inline star noclick"><%= a.favorites.count %>&#9733;</p> <%= link_to a.title, argument_path(a) %> </li>
    <% end %>
    </ul>
  <% else %>
    <h3>You have no arguments</h3>
  <% end %>
  </div>

  <div class="favorites">
  <% if @favorites and @favorites.count > 0 %>
    <h3>Your Favorites</h3>
    <ul>
    <% @favorites.each do |a| %>
      <li>
        <%= render partial: "partials/favorite", locals: {arg: a} %>
        <%= link_to a.title, argument_path(a) %>
      </li>
    <% end %>
    </ul>
  <% else %>
    <h3>You have no favorited arguments</h3>
  <% end %>
  </div>
</div>
