<!DOCTYPE html>
<html>
  <head>
    <title>DebateIt</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <div class="header">
      <h1><a class="title" href="/">DebateIt</a></h1>

      <div class="buttons">
        <%= link_to "Browse Debates", debates_path, class: "btn" %>
        <% if user_signed_in? %>
          <%= link_to "New Debate", new_debate_path, class: "btn" %>
          <%= link_to "Profile", user_path(current_user), class:"btn" %>
          <%= link_to "Logout", destroy_user_session_path, method: 'delete',
            class:"btn" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn" %>
          <%= link_to "Signup", new_user_registration_path, class: "btn" %>
        <% end %>
      </div>
    </div>

    <div class="flash container">
      <% if flash[:success] or flash[:notice] %>
        <div class="flash success">
          <p><%= flash[:success] %></p>
          <p><%= flash[:notice] %></p>
        </div>
      <% elsif flash[:danger] or flash[:alert] %>
        <div class="flash danger">
          <p><%= flash[:danger] %></p>
          <p><%= flash[:alert] %></p>
        </div>
      <% end %>
    </div>

    <%= yield %>

    <div class="footer">
      <p>&#xA9 2017 Matthew Chinn, contact him <a href="mailto:mattchinn96@gmail.com">here</a></p>
      <!--
      <div class="citation">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      -->
    </div>

  </body>
</html>
